@{
    ViewBag.Title = "Reestablecer contraseña";
}




<div class="container">
    <div class="row seccion-destado">
        <div class="col-12">
            <h1>@ViewBag.Title</h1>
            <p>
                Compruebe el correo electrónico para restablecer la contraseña.
            </p>
        </div>
    </div>
</div>

