@{
    ViewBag.Title = "Cargado Ok";
}

<div class="container">
    <div class="row seccion-destado">
        <div class="col-md-12">
            <h1>
                Carga realizada correctamente.
            </h1>
        </div>
        <div class="col-md-12">
            <p>
                <br /><br /><br /><br />
                <a href="@Url.Action("CargaDatos","AdminComuna")" class="btn btn-primary">Volver</a>
            </p>
        </div>
    </div>
    <div class="row padding-Div"></div>
    <div class="row padding-Div">
    </div>
</div>
